@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  outline: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
body {
  background: rgb(250, 250, 250);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.form-c {
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  max-width: 470px;
  border: 1px solid back;
  position: relative;
}
.slider > img {
  max-width: 100%;
  max-height: 100%;
}
.slider-img {
  width: 53.8%;
  position: absolute;
  top: 4%;
  right: 12.6%;
  transition: 0.2s;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 10px 40px;
  width: 100%;
  max-width: 350px;
  background: #fff;
  border: 1px solid rgb(219, 219, 219);
}
.form > .logoIcon-c {
  height: 60px;
  overflow: hidden;
  width: 180px;
  margin-bottom: 25px;
}
.form > .logoIcon-c > img {
  width: 180px;
}
.inpt-c {
  position: relative;
  width: 100%;
}
.inpt-c > input {
  border-radius: 3px;
  background: rgb(250, 250, 250);
  padding: 10px 4px 5px 8px;
  color: rgb(38, 38, 38);
  border: 1px solid rgb(219, 219, 219);
  margin: 6px 0;
  width: 100%;
  font-size: 13px;
}
.inpt-c > input:focus {
  border: 1px solid rgb(175, 175, 175);
}
label {
  position: absolute;
  top: 17px;
  left: 10px;
  pointer-events: none;
  color: grey;
  font-size: 12px;
  transition: 0.1s all;
}
.inpt-focused {
  top: 8px;
  left: 5px;
  font-size: 9px;
}
.form > button {
  width: 100%;
  background: rgb(0, 149, 246);
  color: #fff;
  padding: 6px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 0.8px;
  font-weight: 500;
  transition: 0.2s;
}
.form > button:hover {
  background: rgb(24, 119, 242);
}
.form > button:disabled {
  background: #67b6fa;
}
.err-message {
  color: rgb(237, 73, 86);
  font-size: 13px;
  letter-spacing: 0.5px;
  text-align: center;
  font-weight: 400;
  margin: 20px 0;
  display: none;
}
.show-err-b{
  display: block;
}
#OR-line {
  font-size: 14px;
  margin: 20px;
  color: rgba(196, 196, 196, 0.418);
  letter-spacing: -2.5px;
}
#OR-line > span {
  margin: 0 20px;
  letter-spacing: 0.8px;
  color: rgb(152, 152, 152);
  font-weight: 600;
}
#login-facebook {
  color: #385185;
  font-weight: 500;
}
#forgot-pass {
  color: rgb(0, 55, 107);
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
}
.subForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #fff;
  border: 1px solid rgb(219, 219, 219);
}
.subForm > p {
  font-size: 13px;
}
.subForm > p > a {
  color: rgb(0, 149, 246);
  font-weight: 500;
}
.form-steps > p {
  text-align: center;
  margin: 12px 0;
  font-size: 14px;
}
.form-steps > .img-c {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.form-steps > .img-c > a > img {
  max-width: 140px;
}
footer {
width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
footer > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: space-between;
}
footer > ul > li{
    font-size: 13px;
    color: grey;
    font-weight: 300;
}

.foot-end {
    margin: 10px 0;
    display: flex;
    gap: 22px;
    justify-content: center;
    color: grey;
}
.foot-end > select{
    width: 70px;
    color: grey;
    background: transparent;
}
.foot-end>span{
    font-size: 12px;
}

@media screen and (max-width:870px){
    .slider{
        display: none;
    }
    footer{
        padding: 10px;
    }
    footer > ul {
        justify-content: center;
    }
}