.nav-pills li a:hover {
  background-color: #ddd5f0;
}
.w-15 {
  width: 15%;
}
.w-10 {
  width: 10%;
}
.logo-font {
  font-family: "Grand Hotel", cursive;
  font-size: 30px;
  color: black;
  font-weight: 500;
}
.out-line-n {
  outline: none !important;
  border-color: #ddd5f0 !important;
  border-width: 1px !important;
}
.border-img {
  border: 2px solid salmon;
}
.item img {
  border: 2px solid salmon;
}
/* ---------------------------------------------------------------------- */

.container {
  margin-top: 50px;
}

.story {
  height: 300px;
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
}

.story:hover {
  background-color: #e6e6e6;
}

.active {
  background-color: #c4c4c4;
}

/* ---------------------------------------------------------------------- */
.w-h-20 {
  width: 20px !important;
  height: 20px !important;
  background-color: #484747 !important;
}
/* Add this CSS to your stylesheet */
.fixed-sidebar {
  position: fixed !important;

  z-index: 1 !important;
  overflow-y: auto !important;
}
